.actions {
  color: #FF7A00;
  &:hover {
    opacity: 0.7;
  }
}

.set-footer {
  min-height: calc(100vh - 260px);
}

.data-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 16px;
}

.edit {
  color: #FF7A00;
  font-size: 17px;
  &:hover {
    opacity: 0.7;
  }
}

.delete {
  color: #FF7A00;
  font-size: 14px;
  margin-left: 4px;
  &:hover {
    opacity: 0.7;
  }
}

.pending {
  color: $gray;
  opacity: 0.7;
  font-weight: normal;
}

.accepted {
  color: green;
  opacity: 0.8;
  font-weight: normal;
  font-size: 26px;
}

.rejected {
  color: red;
  opacity: 0.8;
  font-weight: normal;
  font-size: 26px;
}


.accept {
  color: green;
  opacity: 0.8;
  font-weight: normal;
  font-size: 26px;
  &:hover {
    color: black;
  }
}

.decline {
  color: red;
  opacity: 0.8;
  font-weight: normal;
  font-size: 26px;
  margin-right: 8px;
  &:hover {
    color: black;
  }
}

.booking {
  font-size: 17px;
}

.pending-status {
  padding-right: 8px;  
  font-size: 17px;
}

.review {
  color: #FF7A00;
  padding: 6px 0;
  display: inline-block;
  font-weight: 400;
  user-select: none;
  background-color: inherit;
  font-size: 17px;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    color: #0E0000;
  }
}

@media (min-width: 700px) {
  .booking {
    font-size: 20px;
  } .pending-status {
      padding-right: 20px;
      font-size: 20px;
  } .delete {
    margin-left: 16px;
  }
}




