.show-banner {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.booking-form {
  position: sticky;
  top: 20px;
}

.mansion-detail-container {
  width: 70%;
  margin-right: 16px;
}

.book-place-container {
  width: 30%;
}

.mansion-book-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 500px) {
  .mansion-book-container {
    flex-direction: column;
  } .mansion-detail-container {
    width: 100%;
  } .book-place-container {
    width: 100%;
  }
}
