<div class="footer">
  <div class="text-one">
    <p><i class="fas fa-globe"></i>English(US)</p> -
    <p><i class="fas fa-euro-sign"></i>EUR</p>
  </div>
  <div class="text-two">
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
  </div>
  <div class="text-three">
    <p>Privacy</p> -
    <p>Conditions</p> -
    <p>Map of the Site</p> -
    <p>Business data</p>
  </div>
  <p class="text-four">© 2020 MansionsBnB, Inc. All rights reserved</p>
</div>
