<div class="footer">
  <!-- <div class="text-one">
    <p><i class="fas fa-globe"></i>English(US)</p><p>-</p>
    <p><i class="fas fa-euro-sign"></i>EUR</p>
  </div> -->
  <div class="text-two">
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-instagram-square"></i></a>
  </div>
  <div class="text-three">
    <a href="">Privacy</a>
    <p>-</p>
    <a href="">Conditions</a>
    <p>-</p>
    <a href="">Map of the Site</a>
    <p>-</p>
    <a href="">Business data</a>
  </div>
  <p class="text-four">© 2020 MansionsBnB, Inc. All rights reserved</p>
</div>
