<div class="footer text-center bg-secondary">
      <div class="container ">
        <div class="d-flex text-center">
          <p><i class="fas fa-globe"></i>English(US)</p>
          <p><i class="fas fa-euro-sign"></i>EUR</p>
        </div>
        <div>
          <p>© 2020 MansionsBnB, Inc. All rights reserved</p>
        </div>
        <div class="d-flex text-center">
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram-square"></i>
        </div>
      </div>
    </div>
