<%# <div class="footer">
  <!-- <div class="text-one">
    <p><i class="fas fa-globe"></i>English(US)</p><p>-</p>
    <p><i class="fas fa-euro-sign"></i>EUR</p>
  </div> -->
  <div class="text-two">
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-instagram-square"></i></a>
  </div>
  <div class="text-three">
    <a href="">Privacy</a>
    <p>-</p>
    <a href="">Conditions</a>
    <p>-</p>
    <a href="">Map of the Site</a>
    <p>-</p>
    <a href="">Business data</a>
  </div>
  <p class="text-four">© 2020 MansionsBnB, Inc. All rights reserved</p>
</div> %>

<footer class="section bg-footer">
        <div class="container">
            <div class="row">
              <div class="col-lg-3"></div> 
                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Help</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li><a href="">Sign Up </a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Terms of Services</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                        <p class="contact-info mt-4">Contact us if need help with anything</p>
                        <p class="contact-info">+34 123 456 789</p>
                        <div class="mt-5">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              <div class="col-lg-3"></div> 
            </div>
        </div>

        <div class="text-center mt-5">
            <p class="footer-alt mb-0 f-14">20209 © Mansions B&B, All Rights Reserved</p>
        </div>
    </footer>