#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 20px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
