.navbar-lewagon {
  justify-content: space-between;
  background: #011f40;
  height: 75px;
  padding: 15px;
}
.navbar-lewagon.pages.home {
  background: transparent;
  position: absolute;
  width: 100%;
}
#logo_name {
  display: flex;
  color: white;
  align-items: center;
  h6 {
    margin-bottom: 0;
  }
}
.login.nav-link {
  color: white !important;
}
.nav-item > a {
  color: white;
}
#name {
  padding-left: 20px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-img {
  background: transparent;
  border: none;
}

.navbar-image {
  border: none;
  border-color: none;
}

.logout-navbar {
  list-style-type: none;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
