.navbar-lewagon {
  justify-content: space-between;
  background: #70B1F5;
  height: 75px;
  padding: 15px;
}
.navbar-lewagon.pages.home {
  background: transparent;
  position: absolute;
  width: 100%;

}


#logo_name {
  display: flex;
  color: white;
  align-items: center;
  h6 {
    margin-bottom: 0;
  }
}

.login.nav-link {
  color: white !important;
}
.nav-item > a {
  color: white;

}

#name {
  padding-left: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


