.show-card h1 {
    padding: 30px;
}

#price{
    font-weight: bold;
    margin-top: 15px;
    align-content: center;
}

.price-card {
    font-weight: bold;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;
    padding-bottom: 20px;
}